body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
header nav{
    background-color: rgb(47, 6, 6);
    display: flex;
    align-items: center;
}
header nav .left img{
    margin-left: 20px;
    margin-top: 10px;
    width: 8vw;
}
header nav .right ul{
    flex: 1;
    text-align: center;
    width: 90vw;
}
header nav .right ul li{
    display: inline-block;
    list-style: none;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 40px;
}
header > nav > .right > ul > li:hover{
    color: rgb(190, 190, 190);
} 
.cont{
    display: flex;
}
.cont p{
    margin-top: 22vh;
    color: white;
    padding: 0 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.cont img{
    width: 30vw;
    display: block;
    margin-right: auto;
    margin-left: 100px ;
    margin-top: 130px;
    border:8px solid white;
}
.rightbar{
    position: absolute;
    color: white;
    text-align: right;
    width: 100vw;
    margin-top: 17vh;
}
.rightbar nav ul li{
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: ease 0.3s;
}
.rightbar > nav > ul > li:hover{
    scale: 1.2;
}